﻿@{
    ViewBag.Title = "About-STS Planetarium";
}

<section id="about">
    <div class="container">
        <div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>About Us</h2>
            </div>

            <div class="col-lg-10 col-lg-offset-1 text-center">
                <p>STS Planetarium is an online information center which is named after Space Shuttle mission STS-87.
                STS-87 was a Space Shuttle mission launched from Launch Complex 39B of the Kennedy Space Center on 19 November 1997. 
                It was the 88th flight of the Space Shuttle, and the 24th flight of Columbia. The mission goals were to conduct experiments using the United States Microgravity Payload (USMP-4), conduct two EVAs, and to deploy the SPARTAN-201 experiment. 
                that provides latest news on Stars, Galaxies. In the memory of this mission, we have created this
                application that provides the latest news and research information on Space, Stars and Galaxies. We
                also provide show information of Other Planetariums across Kansas city. Below are the services
                we provide...</p>
            </div>
                        
            <div>
                <div class="col-md-3">
                    <div class=" text-center">
                        <a href="@Url.Action("Reservation", "Booking")">
                            <img class="img-responsive img-circle" src="~/Content/Images/AboutUs/JBL_HaydenPlanetarium.jpg" alt="">
                        </a>
                        <h4>Show Reservations</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=" text-center">
                        <a href="@Url.Action("Information", "Astronomy")">
                            <img class="img-responsive img-circle" src="~/Content/Images/AboutUs/sun_planets.jpg" alt="">
                            <h4>Space News</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=" text-center">
                        <a href="@Url.Action("Theories", "Conspiracy")">
                            <img class="img-responsive img-circle" src="~/Content/Images/AboutUs/Conspiracy.jpg" alt="">
                            <h4>Conspiracy Theories</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=" text-center">
                        <a href="@Url.Action("Information", "Eclipse")">
                            <img class="img-responsive img-circle" src="~/Content/Images/AboutUs/deps_069324.jpg" alt="">
                            <h4>Space Research Information</h4>
                         </a>
                    </div>
                </div>
            </div>                       
        </div>
    </div>
    <br />
    <div class="container" style="font-style: italic; padding-left:5em">
       <span style="font-weight:bolder">STS-87 Crew: </span><span>Kevin R. Kregel, Steven W. Lindsey, Winston E. Scott, Kalpana Chawla, Takao Doi, Leonid Kadenyuk</span>
    </div> 
</section> 

