﻿<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Contact Us</h2>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-12" padding-left:5em>
                <h3>Feel free to connect us</h3>
                <p class="lead"><span>We operate as a part of </span> <span style="font-weight:bolder">ACS Department - NorthWest Missouri State University</span></p>
            </div>
            <br />
            <br />
            <div class="col-lg-12" padding-left:5em>
                <div class="icon">
                    <i class="fa fa-2x fa-home"></i>
                </div>
                <p class="lead">NorthWest Missouri State University, Maryville, MO 64468 US</p>

                <div class="icon">
                    <i class="fa fa-2x fa-phone"></i>
                </div>
                <p class="lead">(660) 562.1212</p>

                <div class="icon">
                    <i class="fa fa-2x fa-print"></i>
                </div>
                <p class="lead">(660) 562.1990</p>
            </div>
        </div>
    </div>
</section>
