﻿@{
    ViewBag.Title = "Home Page - STS Planetarium";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">        
        <div class="item active">
            <img src="/Content/Images/Slider/spiral-scifi-space-galaxy-stars-universe-wallpaper-1.png">
            <div class="container">
                <div class="carousel-caption">
                    <h1>News on Planets, Stars and Galaxies</h1>
                    <h4 class="lead">Read latest astronomy news from Google News</h4>
                    <a target="_blank" class="btn btn-large btn-primary" href="https://news.google.com/news/section?cf=all&hl=en&ned=us&q=NASA&topicsid=en_us%3Asnc&ict=ln&topicnv=__AB21PFxq5cFFI2doruJ6qQmfnYpXq5-6d0w5p085LstSxasaAg5V2xtVXpBUOscVvMIZFzk-ddEGeHB19To4xjBSpVH0nktZq_nKz5tx3xhhZ8pRrb3Wa-AXpxcGOJBB1ksoZrmDS1Ok0BOYeLq0DWr-R4Pix6Srh5J_ErlkFAcNZLb9iWP5kSCAHXnxbRL_BPXRrpj05NmRE0FyyCHqIiS1hUFxkwhbyJdhnd8F8AEnPfygoIOldCWpMcuLDwIIFXqWUIw9E6wbu3wDJ_-wj0XFPPGHQkkHsPsdj0rDVeih0oNZhVd_dtGx9PIcLGl2kQ3_o0F7HQaLxmjvIfKPKIqndqkZhDpz0Kz2hHr83yGu4AXRY8VdsQAZvBm36o85-GMIz5sTKeJcVmgUgD12FR-FyV-s7pWmp-Dm-uNC_2fsiT5UEUdC39Y_yY7S0DQ2SFlPOHqx7lsyfKVyp6GpopbIr9F7vYv0skUipwvDHIWwKjgztXigdF57byO2MY3oM3rHLPgyCr-EgkOFGm0yQbGUvyXuaSl-5i23J0HjrzlB312vnRRPlze9o0emzmUOaaER8hpfnbQ9EjhjkYYJ0iV-CMOzmwAKBA7z1tvoa_sBZmNj7YAIa53VMJGbfgsOCeoUmswc8BY0&siidp=f7b4ec957c9486a98e9e3767d80b714423a5">Read News &raquo;</a>
                </div>
            </div>
        </div>        
        <div class="item">
            <img src="~/Content/Images/Slider/140418172140-kepler-186f-0417-horizontal-large-gallery-2.png" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Life Beyond Earth</h1>
                    <h4 class="lead">Sometime in the near future, people will be able to point to a star and say, 'that star has a planet like Earth'</h4>
                    <a target="_blank" class="btn btn-large btn-primary" href="http://www.nasa.gov/content/finding-life-beyond-earth-is-within-reach">Read more &raquo;</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Images/Slider/gravity.png" alt=" ">
            <div class=" container">
                <div class="carousel-caption">
                    <h1>Movie</h1>
                    <h4 class="lead">The Real Stories and Real Science Behind "Gravity"</h4>
                    <a target="_blank" class="btn btn-large btn-primary" href="http://blogs.discovermagazine.com/outthere/2013/10/07/the-real-stories-and-science-behind-gravity/">Read More &raquo;</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/Content/Images/Slider/Resized-Admin.png">
            <div class="container">
                <div class="carousel-caption">
                    <h1>STS Planetarium Information Center</h1>
                    <h4 class="lead">This site is maintained by ACS Department - NorthWest Missouri State University</h4>
                    <a target="_blank" class="btn btn-large btn-primary" href="@Url.Action("About", "Home", routeValues: null)">Read about us &raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" style="border:0px" href="#myCarousel" data-slide="prev" role="button">
        <p style="margin-top: -3px;margin-left: -5px;"><</p>
    </a>
    <a class="right carousel-control" style="border:0px" href="#myCarousel" data-slide="next">
        <p style="margin-top: -3px;margin-left: 1px;">></p>
    </a>
</div>
    
            <div class="row">
                <div class="col-md-3">
                    <h2>Planetarium Show Bookings</h2>
                    <p>
                        Book tickets for planeterium shows across Kansas City.
                    </p>
                    <p><a class="btn btn-default" href="@Url.Action("Reservation", "Booking")">Book Now &raquo;</a></p>
                </div>
                <div class="col-md-3">
                    <h2>Galaxies and Stars</h2>
                    <p>Develop your understanding of a wide range of topics in astronomy by exploring the fascinating science behind the galaxies, stars and planets of the Universe.</p>
                    <p><a class="btn btn-default" href="@Url.Action("information", "Astronomy")">Learn More &raquo;</a></p>
                </div>
                <div class="col-md-3">
                    <h2>Conspiracy Theories</h2>
                    <p> Get ready to dive into the deepest material from our collection of reliable conspiracy information presented here.</p>
                    <p><a class="btn btn-default" href="@Url.Action("Theories", "Conspiracy")">Learn More &raquo;</a></p>
                </div>
                <div class="col-md-3">
                    <h2>Eclipse Information</h2>
                    <p>Get Eclipse information of the current and previous years.</p>
                    <p><a class="btn btn-default" href="@Url.Action("Information", "Eclipse")">Learn More &raquo;</a></p>
                </div>
            </div>
