﻿@model STS.P1.Planetarium.Models.BookingModel

@{
    ViewBag.Title = "Payment - STS Planetarium";
}

<div class="row">
    <div class="col-md-12">
        <section id="reservatioPaymentForm" style="padding-left:7em">
            <div class="container">
                @using (Html.BeginForm("Payment", "Booking", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <h2>2. Provide Payment Details..</h2>
                    <hr />
                    <fieldset>
                        <div>
                            <label>Name*:</label>
                        </div>
                        
                        <div>
                            <div>
                                @Html.TextBoxFor(m => m.Name)
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger"})
                                @*<input class='required email' type="text" name="owner_name" id='owner_name' maxlength="64" value="" />*@
                            </div>
                            <label>Contact Email*:</label>
                        </div>
                        <div>
                            <div>
                                @Html.TextBoxFor(m => m.EmailId)
                                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                                @*<input class='required phone' type="text" name="owner_email" id='owner_email' maxlength="50" value="" />*@
                            </div>
                            <label>Contact Phone*:</label>
                        </div>

                        <div>
                            <div>
                                @Html.TextBoxFor(m => m.ContactNo)
                                @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                                @*<input type="text" name="owner_phone" id='owner_phone' maxlength="64" value="" />*@
                            </div>
                        </div>

                        <div>
                            <label>Billing Address:</label>
                            <div style="padding-top:1em">
                                @*<input type="text" name="business_address" id='business_address' maxlength="50" value="" placeholder='street' /><br />*@
                                @Html.TextBoxFor(m => m.StreeName, new { placeholder = "street name" })
                                @Html.ValidationMessageFor(model => model.StreeName, "", new { @class = "text-danger" })
                                @Html.TextBoxFor(m => m.CityName, new { placeholder = "city"})
                                @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
                                @*<input type="text" name="business_city" id='business_city' maxlength="50" value="" placeholder='city' /><br />*@
                                <div>
                                    @Html.DropDownListFor(m => m.StateCode, STS.P1.Planetarium.Models.BookingModel.StateListItems(), "Select your state...")
                                    
                                    <div style="padding-top:0.8em">
                                        @Html.TextBoxFor(m => m.zipCode, new { placeholder = "zip code" })
                                        @Html.ValidationMessageFor(model => model.zipCode, "", new { @class = "text-danger" })
                                        @*<input class='fourth' type="text" name="business_zip" id='business_zip' maxlength="10" value="" placeholder='zip' style="width:150px" />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label>Card Details:</label>
                            <div style="padding-top:1em">
                                @Html.TextBoxFor(m => m.cardNumber, new { placeholder = "card number" })
                                @Html.ValidationMessageFor(model => model.cardNumber, "", new { @class = "text-danger" })
                                @*<input class='fourth' type="text" name="card_number" id='card_number' maxlength="10" value="" placeholder='Card Number(no spaces)'/><br/>*@
                                @Html.TextBoxFor(m => m.cardExpiryDate, new { placeholder = "card expiry date" })
                                @Html.ValidationMessageFor(model => model.cardExpiryDate, "", new { @class = "text-danger" })
                                @*<input class='fourth' type="text" name="card_date" id='card_Date' maxlength="10" value="" placeholder='Card Expiry(mm/dd/yyyy)' />*@
                                @Html.TextBoxFor(m => m.cvvCode, new { placeholder = "CVV Code" })
                                @Html.ValidationMessageFor(model => model.cvvCode, "", new { @class = "text-danger" })
                                @*<input class='fourth' type="text" name="cvv_code" id='cvv_code' maxlength="10" value="" placeholder='CVV Code' style="width:150px" />*@
                            </div>
                        </div>                        
                    </fieldset>

                    <div class="span3" style="padding-left:1em">
                        <input type="submit" value="Confirm Your purchase >>" class="btn btn-primary btn-block" />
                        @*<a class="btn btn-primary btn-block" href="@Url.Action("PaymentConfirmation", "Booking")">Confirm Your purchase</a>*@
                    </div>
                }
            </div>
     </section>
</div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>
