﻿@{
    ViewBag.Title = "PaymentConfirmation";
}

<div class="row">
    <div class="col-md-12">
        <section id="reservatioPaymentConfirmation" style="padding-left:5em">
            <h2>3. Booking confirmation..</h2>
            <hr />
            <div class="container">
                <h3>Thank you! your booking is confirmed. You will receive an e-ticket to your email once the payment is approved.</h3>
            </div><br />
            <div style="padding-left:4em"><h4>Your Booking ID: </h4><label>@ViewData["BookingToken"]</label></div>
        </section>
    </div>
</div>


