﻿@model STS.P1.Planetarium.Models.ReservationModel


@{
    ViewBag.Title = "Reservation - STS Planetarium";
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js">
</script>

<script type="text/javascript">
   
    $(function () {
        $("#PlanetariumDropdown").change(function () {
            var selectedItem = $(this).val();
            var ddlMovies = $("#MovieDropdown");
            //var statesProgress = $("#states-loading-progress");
            //statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetMoviesById"))",
                data: { "planetariumId": selectedItem },
                success: function (data) {
                    ddlMovies.html('');
                    ddlMovies.append($('<option></option>').val(0).html('Choose a Movie...'));
                    $.each(data, function (id, option) {
                        ddlMovies.append($('<option></option>').val(option.id).html(option.name));
                    });
                    //statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    alert(thrownError);
                    //statesProgress.hide();
                }
            });
        });
    });
    $(function () {
        $("#MovieDropdown").change(function () {
            var selectedItem = $(this).val();
            var ddlTimings = $("#TimingsDropdown");
            var banner = $("#bannerSection");
            var movieName = $("#bannerSection").find('#reservationMoiveName');
            var movieDate = $("#bannerSection").find('#reservationMoiveDate');
            var movieRunTime = $("#bannerSection").find('#reservationRuneTime');
            var trailerURL = $("#bannerSection").find('#movieTrailerURL');
            
            //var statesProgress = $("#states-loading-progress");
            //statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetMovieDetialsById"))",
                data: { "movieId": selectedItem },
                success: function (data) {
                    var resultMovieName = $(data).attr("MovieName");
                                       
                    var movieLength = $(data).attr("MovieLength");
                    var movieTrailerURL = $(data).attr("TrailerURL");
                    var releaseDate = $(data).attr("ReleaseDate");
                    var show1 = $(data).attr("Show1") + ':00';
                    var show2 = $(data).attr("Show2") + ':00';
                    var show3 = $(data).attr("Show3") + ':00';
                    var show4 = $(data).attr("Show4") + ':00';
                    //alert("resultMovieName");
                    //alert("show1");
                    banner.show();
                    movieName.html(resultMovieName);
                    movieDate.html(releaseDate);
                    movieRunTime.html(movieLength);
                    trailerURL.attr('src', movieTrailerURL);
                    movieName.delay(100).fadeIn();
                    movieDate.delay(100).fadeIn();
                    movieRunTime.delay(100).fadeIn();
                    trailerURL.delay(100).fadeIn();

                    ddlTimings.html('');
                    ddlTimings.append($('<option></option>').val(0).html('Choose a Timing...'));
                    ddlTimings.append($('<option></option>').val(show1).html(show1));
                    ddlTimings.append($('<option></option>').val(show2).html(show2));
                    ddlTimings.append($('<option></option>').val(show3).html(show3));
                    ddlTimings.append($('<option></option>').val(show4).html(show4));

                //statesProgress.hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve Movie Details.');
                alert(thrownError);
                //statesProgress.hide();
            }
        });
    });
    });

    $(function () {
        $("#PersonsCountDropdown").change(function () {
            var Count = $('#PersonsCountDropdown option:selected').text();
            var selectedItem = $("#MovieDropdown").val();
            var totalAmount = $("#ReservationTotalAmount");
                                    
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetMovieDetialsById"))",
                data: { "movieId": selectedItem },
            success: function (data) {
                var ticketAmount = $(data).attr("TicketPrice").toFixed(2) * parseFloat(Count);
                //alert(ticketAmount);
                totalAmount.val(ticketAmount.toFixed(2) + " $");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve Movie Details.');
                alert(thrownError);
                //statesProgress.hide();
            }
        });
    });
    }); 

</script>

<div class="row" id="bookingsScreen">
    <div class="col-md-6">
        <section id="bookingSection" style="padding-left:5em">
          
            <div class="container">
                <h2>1. Select a movie..</h2>
                <hr />
                @using (Html.BeginForm("GetMovieDetialsById", "Booking", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div id="bookingForm" style="padding-left:5em">
                        <div>
                            <h4>Planetarium:</h4>                            
                            <div class="dropdown" style="padding-left:2em">
                                
                                    @Html.DropDownList("PlanetariumDropdown", ViewData["PlanetariumDropdown"] as List<SelectListItem>)

                                @*<select>
                                    <option value="">Select a Planetarium...</option>
                                    <option value="1">The Arvin Gottlieb Planetarium</option>
                                    <option value="2">The Union Station Planetarium</option>
                                    <option value="3">NorthWest Planetarium</option>
                                </select>*@
                            </div>
                        </div>
                        <div>
                            <h4>Movie Name:</h4>
                            <div class="dropdown" style="padding-left:2em">
                                @Html.DropDownList("MovieDropdown", new SelectList(string.Empty, "Value", "Text"), "Movies...")                                                              
                            </div>
                        </div>
                        <div>
                            <h4>Timings:</h4>
                            <div class="dropdown" style="padding-left:2em">
                                @Html.DropDownList("TimingsDropdown", new SelectList(string.Empty, "Value", "Text"), "Show Times...")                               
                                
                            </div>
                        </div>
                        <div>
                            <h4>No. of Persons:</h4>
                            <div id="PersonsCountDropdown" style="padding-left:2em">
                                <select name="PersonsCountDropdown">
                                    <option value="0">Select Count...</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>                            
                        </div><br />
                        <div>
                            <h4>Total Amount:</h4>
                            
                            @*<label id="ReservationTotalAmount" name="ReservationAmount" style="padding-left:2em"></label>*@                            
                            <input id="ReservationTotalAmount" name="ReservationTotalAmount" type="text" value=""/>
                            
                        </div><br />
                        <div class="span2">
                            <input type="submit" value="Book Now >>" class="btn btn-primary btn-block"/>
                            @*<a class="btn btn-primary btn-block" type="submit" href="@Url.Action("Payment", "Booking")">Book Now!</a>*@
                        </div>
                    </div>   
                }
            </div>
        </section>
    </div>
    <div class="divider" style="position: absolute; left: 50%; top: 25%; bottom: 10%; border-left: 1px solid white;"></div>
    <div class="col-md-3">
        <section id="bannerSection" style="display:none">
            <h3>Movie Details</h3>
            @*<div class="container">
                <div id="row">
                    <img src="~/Content/Images/Movies/Journey-to-Space-3D-the-orange-cat.jpg" alt=""/>  
                </div>
            </div>*@
            <div class="container">
                <div id="row">
                    <div>
                        <h4>Movie Name: </h4><label id="reservationMoiveName" style="padding-left:2em;font-weight:bold"></label>
                    </div><br />
                    <div>
                        <h4>Release Date: </h4><label id="reservationMoiveDate" style="padding-left:2em;font-weight:bold"></label>
                    </div><br />
                    <div>
                        <h4>Run Time: </h4><label id="reservationRuneTime" style="padding-left:2em;font-weight:bold"></label>
                    </div><br />
                    <h4>Trailer: </h4>
                    <div style="padding-left:2em">
                        <iframe id="movieTrailerURL" width=" 500" height="338" src="" frameborder="1" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
       </section>
    </div>
    <div class="col-md-2">
        <div>

        </div>
    </div>
       
</div>
