﻿
@{
    ViewBag.Title = "Conspiracy - STS Planetarium";
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(function () {
        $("#getInfo").click(function () {
            var banner = $("#bannerSection");
            banner.show();
        })
    });
</script>

<div class="row" id="bookingsScreen">
    <div class="col-md-6">
        <section id="bookingSection" style="padding-left:5em">

            <div class="container">
                <h2>Learn more on Space Conspiracy Theories..</h2>
                <hr /><br/><br/>
                @using (Html.BeginForm("Reservation", "Booking", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div id="bookingForm" style="padding-left:5em">
                        <div>
                            <h4>Conspiracy Theory:</h4>
                            <div class="dropdown" style="padding-left:2em">
                                <select>
                                    <option value="volvo">Choose a Theory...</option>
                                    <option value="volvo">The Moon Landing Was a Hoax</option>
                                    <option value="saab">The Face on Mars</option>
                                    <option value="mercedes">Flat Earth Society</option>
                                </select>
                            </div>
                        </div><br /><br/><br/>                       
                        <div class="span2">
                            @*<input type="submit" value="Book Now" class="btn btn-primary btn-block" />*@
                            <a class="btn btn-primary btn-block" href="#" id="getInfo">Get Information &raquo;</a>
                        </div>
                    </div>


                }
            </div>
        </section>
    </div>
    <div class="divider" style="position: absolute; left: 50%; top: 25%; bottom: 10%; border-left: 1px solid white;"></div>
    <div class="col-md-3">
        <section id="bannerSection" style="display:none">
            <h3></h3>
            @*<div class="container">
                    <div id="row">
                        <img src="~/Content/Images/Movies/Journey-to-Space-3D-the-orange-cat.jpg" alt=""/>
                    </div>
                </div>*@
            <div class="container" style="padding-top:3em">
                <div id="row">
                    <div>
                        <h4>Title: </h4><label id="reservationMoiveName" style="padding-left:2em;font-weight:bold">The Moon Landing Was a Hoax</label>
                    </div><br />
                    <div>
                        <h4>Country: </h4><label id="reservationMoiveDate" style="padding-left:2em;font-weight:bold">USA</label>
                    </div><br />
                    <div>
                        <h4>URL:</h4><a style="padding-left:2em"  target="_blank" href="http://science.howstuffworks.com/space-conspiracy-theory10.htm">The Moon Landing Was a Hoax</a>
                    </div><br />
                    <h4>Video: </h4>
                    <div style="padding-left:2em">
                        <iframe width=" 500" height="338" src="http://www.youtube.com/embed/ybJMuowl0UU" frameborder="1" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-2">
        <div>

        </div>
    </div>

</div>


