﻿
@{
    ViewBag.Title = "Eclipse - STS Planterium";
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(function () {
        $("#getInfo").click(function () {
            var banner = $("#bannerSection");
            banner.show();
        })
    });
</script>

<div class="row" id="bookingsScreen">
    <div class="col-md-6">
        <section id="bookingSection" style="padding-left:5em">

            <div class="container">
                <h2>Get Eclipse Information here..</h2>
                <hr /><br/><br/>
                @using (Html.BeginForm("Reservation", "Booking", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div id="bookingForm" style="padding-left:5em">
                        <div>
                            <h4>Eclipse Type:</h4>
                            <div class="dropdown" style="padding-left:2em">
                                <select>
                                    <option value="volvo">Select Eclipse Type...</option>
                                    <option value="volvo">Solar Eclipse</option>                                    
                                    <option value="volvo">Lunar Eclipse</option> 
                                </select>
                            </div>
                        </div><br />
                        <div>
                            <h4>Year:</h4>
                            <div class="dropdown" style="padding-left:2em">
                                <select>
                                    <option value="volvo">Select an Year..</option>
                                    <option value="volvo">2016</option>
                                    <option value="saab">2015</option>
                                    <option value="mercedes">2014</option>
                                </select>
                            </div>
                        </div><br /><br/>
                        
                        <div class="span2">
                            @*<input type="submit" value="Book Now" class="btn btn-primary btn-block" />*@
                            <a class="btn btn-primary btn-block" href="#" id="getInfo">Get Information &raquo;</a>
                        </div>
                    </div>


                }
            </div>
        </section>
    </div>
    <div class="divider" style="position: absolute; left: 50%; top: 25%; bottom: 10%; border-left: 1px solid white;"></div>
    <div class="col-md-3">
        <section id="bannerSection" style="display:none">
            <h3></h3>
            @*<div class="container">
                    <div id="row">
                        <img src="~/Content/Images/Movies/Journey-to-Space-3D-the-orange-cat.jpg" alt=""/>
                    </div>
                </div>*@
            <div class="container" style="padding-top:3em">
                <div id="row">
                    <div>
                        <h4>Eclipse Type: </h4><label id="reservationMoiveName" style="padding-left:2em;font-weight:bold">Solar Eclipse</label>
                    </div><br />
                    <div>
                        <h4>Year: </h4><label id="reservationMoiveDate" style="padding-left:2em;font-weight:bold">2016</label>
                    </div><br />
                    <div>
                        <h4>Date: </h4><label id="reservationMoiveDate" style="padding-left:2em;font-weight:bold">03/25/2016</label>
                    </div><br />
                    <h4>Time: </h4> <label id="reservationMoiveDate" style="padding-left:2em;font-weight:bold">4:00 PM</label>
                    
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-2">
        <div>

        </div>
    </div>

</div>


