﻿
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js">
    </script>
    <script type="text/javascript">

        
     $(function () {
         $("#search").click(function () {
             var selectedItem = $("#searchText").val();
             var ddlSearch = $("#searchOptions").val();
            
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("Search"))",
                data: {
                    "searchText": selectedItem,
                    "searchOption": ddlSearch
                },
                success: function (data) {
                    var searchResults = $("#searchResults");
                    searchResults.html('');
                    searchResults.append('Search Results...<br>');
                    $.each(data, function (id, option) {
                        searchResults.append("<a href='#'>" + option.movieName + "</a><br>");
                        //searchResults.append("<a href='/search/movie?id=" + option.movieId + "'>" + option.movieName + "</a><br>");
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve search results.');
                    alert(thrownError);
                }
            });
        });
     });

        $(function () {
            var banner = $("#bannerSection");
            $("#searchResults").click(function () {
                banner.show();               
        });
        });



    </script>
</head>
<body id="searchForm">
    <div class="container" style="padding-top:8em">
        <div id="row" style="height:350px">
            <div class="col-md-6">

                <h2>Search..</h2>                
                <select id="searchOptions" style="width:10em">
                    <option value="All">All</option>
                    <option value="Movies">Movies</option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" id="searchText" style="width:35em" />
                &nbsp;&nbsp;<br /><br/>
                <input class="btn btn-primary" type="button" id="search" value="search" />
                <br />
                <hr />
                <div id="searchResults">

                </div>
            </div>
            <div class="divider" style="position: absolute; left: 50%; top: 25%; bottom: 10%; border-left: 1px solid white;"></div>
            <div class="col-md-3">
                <section id="bannerSection" style="display:none;padding-top:0em">
                    <h3>Movie Details</h3>
                    @*<div class="container">
                            <div id="row">
                                <img src="~/Content/Images/Movies/Journey-to-Space-3D-the-orange-cat.jpg" alt=""/>
                            </div>
                        </div>*@
                    <div class="container">
                        <div id="row">
                            <div>
                                <h4>Movie Name: </h4><label id="reservationMoiveName" style="padding-left:2em;font-weight:bold">Journey To Space</label>
                            </div><br />
                            <div>
                                <h4>Release Date: </h4><label id="reservationMoiveDate" style="padding-left:2em;font-weight:bold">16 Apr, 2016</label>
                            </div><br />
                            <div>
                                <h4>Run Time: </h4><label id="reservationRuneTime" style="padding-left:2em;font-weight:bold">135</label>
                            </div><br />
                            <h4>Trailer: </h4>
                            <div style="padding-left:2em">
                                <iframe id="movieTrailerURL" width=" 500" height="338" src="http://www.youtube.com/embed/40QHkUNC9hs" frameborder="1" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-2">
                <div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
