﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Quipe - One Page Responsive HTML Template">
    <meta name="author" content="aresthemes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="/Content/bootstrap.css">
    <link rel="stylesheet" href="/Content/bootstrap-combined.min.css">
    <link rel="stylesheet" href="/Content/revolution.css">
    <link rel="stylesheet" href="/Content/font-awesome.css">
    <link rel="stylesheet" href="/Content/cubeportfolio.css">
    <link rel="stylesheet" href="/Content/owl.carousel.css">
    <link rel="stylesheet" href="/Content/owl.theme.css">

    <link rel="stylesheet" href="/Content/main.css">


    <!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,300,500,600' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/Images/HCI_Final_Logo.png" >    

    <!-- modernizr -->
    <script src="~/Scripts/modernizr.custom.js"></script>
    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js555e?key=&amp;sensor=false&amp;extension=.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.themepunch.plugins.min.js"></script>
    <script src="~/Scripts/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Scripts/jquery.cubeportfolio.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/smooth-scroll.js"></script>
    <script src="~/Scripts/retina-1.1.0.min.js"></script>
    <script src="~/Scripts/map.js"></script>

    @*<script src="~/Scripts/main.js"></script>*@


    <!-- GOOGLE ANALYTICS -->
    <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-49575073-1', 'aresthemes.com');
		  ga('send', 'pageview');

    </script> 


</head>
<body>

    <!-- NAVIGATION -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
        <div class="container">
            <div data-scroll-header class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Login", "Account")"><img src="~/Content/Images/HCI_Final_Logo.png" alt="logo"></a>
            </div>

            <div class="collapse navbar-collapse" id="nav">
                <ul class="nav navbar-nav navbar-right uppercase">
                    <li style="padding-top:1.8em">@Html.ActionLink("Admin Home", "Index", "Admin")</li>                    
                    <li style="padding-top:1.8em">@Html.ActionLink("Home", "Index", "Home")</li>                    
                    <li style="padding-top:1.8em">@Html.ActionLink("Search", "Index", "Search")</li>
                    <li style="padding-bottom:0.25em">@Html.Partial("_LoginPartial")</li>               
                </ul>                
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>    
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer style="color: deepskyblue;margin-top: 60px;">
            <p>&copy; @DateTime.Now.Year - STS Planetarium</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
