﻿@model STS.P1.Planetarium.Models.ApplicationUser

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <br/>
    <br/>
    <h3>Are you sure you want to delete this user?</h3>
    <div>       
        <hr />
        <dl class="dl-horizontal">
                
            <dt>
                @Html.DisplayName("User Name:")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>   
                
        </dl><br/>
        
    
        @using (Html.BeginForm())
        {
            <input type="submit" value="Delete" class="btn btn-default btn-primary" /> <br/>
            @Html.AntiForgeryToken()    
            <div class="form-actions no-color">
                
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
