﻿@model STS.P1.Planetarium.Models.ApplicationUser

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ApplicationUser</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Accounttype)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Accounttype)
            </dd>
                
            <dt style="padding-top:3em">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd style="padding-top:3em">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt style="padding-top:3em">
                @Html.DisplayNameFor(model => model.PasswordHash)
            </dt>
    
            <dd style="padding-top:3em">
                @Html.DisplayFor(model => model.PasswordHash)
            </dd>           
    
        </dl>
    </div><br/>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
