﻿@model IEnumerable<STS.P1.Planetarium.Models.ApplicationUser>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("User Name")
            </th>
            <th>
                @Html.DisplayName("Account Type")
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accounttype)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Email }) |
                @Html.ActionLink("Details", "Details", new { id=item.Email }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Email })
            </td>
        </tr>
    }

    </table>
</body>
</html>
