﻿
@{
    ViewBag.Title = "EditUploadedDOcument";    
}


<div class="row">
    <div class="col-md-12">
        <section id="reservatioPaymentForm" style="padding-left:7em">
            <div class="container">
                @using (Html.BeginForm("Payment", "Booking", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <h2>Edit Technical Papers..</h2>
                    <hr />
                    <fieldset>

                        <label>Existing Paper: </label>
                        <select name="business_state" class="dropdown" style="height:35px;width:150px">
                            <option value="">Select paper...</option>
                            <option value='AL'>Black Holes</option>
                            <option value='AL'>Interstellar</option>
                            <option value='AL'>ET</option>                            
                        </select>

                        <div>
                            <br />
                            <label>Paper Title*:</label>
                        </div>

                        <div>
                            <div>
                                <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                            </div><br />
                            <label>Author Name*:</label>
                        </div>

                        <div>
                            <div>
                                <input class='required phone' type="text" name="owner_phone" id='owner_phone' maxlength="50" value="" />
                            </div><br />
                            <label>Author Contact Email*:</label>
                        </div>

                        <div>
                            <div>
                                <input type="text" name="business_url" id='business_url' maxlength="64" value="" />
                            </div><br />                            
                        </div>
                        <div>
                            <div>
                                <label>Document URL:</label><a style="padding-left:2em" target="_blank" href="#">Black Holes</a>                                
                            </div><br/>
                            
                            <label>Choose a Document:</label>
                            <form action="demo_form.asp">
                                <input type="file" name="pic" accept="pdf/*">
                                <input type="submit" value="Upload">                                
                            </form>
                        </div>
                        <p>*Note: Existing document will be overridden if a new document is chosen</p>
                    </fieldset>
                }
            </div><br />
            <div class="span3" style="padding-left:2em">
                @*<input type="submit" value="Book Now" class="btn btn-primary btn-block" />*@
                <a class="btn btn-primary btn-block" href="#" style="font-weight:bold">Submit Document</a>
            </div>
        </section>
    </div>
</div>

