﻿@{
    ViewBag.Title = "publish-STS Planetarium";    
}

<div>
    <br /><br />
    
    <div class="row" id="bookingsScreen" style="padding-left:2em">
        <div class="col-md-12">
            <section id="bookingSection" style="padding-left:2em">
                <div class="container">
                    <h2>Edit Content..</h2>
                    <br />
                    <h4>Choose Content: </h4>
                    <select name="business_state" class="dropdown" style="height:35px;width:150px">
                        <option value="">Choose Content...</option>
                        <option value='AL'>Movie</option>
                        <option value='AL'>Astronomical</option>
                        <option value='AL'>Conspiracy Theory</option>
                        <option value='AL'>Eclipse</option>
                    </select>
                </div>
            </section>

            <label>Movie Content</label>
            <section id="bookingSection" style="padding-left:2em">
                <div class="container">
                    <div id="row">
                        <div>
                            <h4>Planetarium Name: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <div>
                            <h4>Movie Name: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <div>
                            <h4>Release Date: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <div>
                            <h4>Timings: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <div>
                            <h4>Cost per Ticket: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <div>
                            <h4>Run Time: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <h4>Youtube Trailer URL: </h4>
                        <div style="padding-left:2em">
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row" id="AstronomyScreen" style="padding-left:2em">
        <div class="col-md-12">
            <label>Astronomical Content</label>
            <section id="bookingSection" style="padding-left:2em">
                <div class="container">
                    <div id="row">
                        <div>
                            <h4>Topic:</h4>
                            <div class="dropdown" style="padding-left:2em">
                                <select>
                                    <option value="volvo">Topic...</option>
                                    <option value="volvo">Star</option>
                                    <option value="saab">Galaxy</option>
                                    <option value="mercedes">Planet</option>
                                </select>
                            </div>
                        </div><br />
                        <div>
                            <h4>Name: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <div>
                            <h4>Constellation: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <div>
                            <h4>Brief Summary: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <div>
                            <h4>Youtube URL: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row" id="ConspiracyScreen" style="padding-left:2em">
        <div class="col-md-12">
            <label>Conspiracy Theory Content</label>
            <section id="bookingSection" style="padding-left:2em">
                <div class="container">
                    <div id="row">
                        <div>
                            <h4>Theory Name: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <div>
                            <h4>Country: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <div>
                            <h4>URL: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <div>
                            <h4>Youtube URL: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row" id="EclipseScreen" style="padding-left:2em">
        <div class="col-md-12">
            <label>Eclipse Content</label>
            <section id="bookingSection" style="padding-left:2em">
                <div class="container">
                    <div id="row">
                        <div>
                            <h4>Eclipse Type: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <div>
                            <h4>Year: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <div>
                            <h4>Date: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <div>
                            <h4>Time: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row" id="SliderContent" style="padding-left:2em">
        <div class="col-md-12">
            <label>Slider Content</label>
            <section id="bookingSection" style="padding-left:2em">
                <div class="container">
                    <div id="row">
                        <div>
                            <h4>Title: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <div>
                            <h4>Message: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <div>
                            <h4>Button Title: </h4>
                            <input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />
                        </div>
                        <div>
                            <h4>Choose Image: (Must have 1500 * 450 resolution and .png extension)</h4>
                            <div>
                                <form action="demo_form.asp">
                                    <input type="file" name="pic" accept="image/*">
                                    <input type="submit" value="Upload">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="span3" style="padding-left:2em">
        @*<input type="submit" value="Book Now" class="btn btn-primary btn-block" />*@
        <a class="btn btn-primary btn-block" href="#" style="font-weight:bold">Publish Content</a>
    </div>
</div>


