﻿@model STS.P1.Planetarium.Models.DocumentModel

@{
    ViewBag.Title = "UploadDocument";    
}

<h2>UploadDocument-STS Planetarium</h2>

<div class="row">
    <div class="col-md-12">
        <div class="span3" style="padding-left:0em;">
            @*<a href="@Url.Action("EditUploadedDocument", "Technical")" style="font-weight:bolder;font-size:larger">Edit Existing Documents</a>*@
        </div><br />
        <section id="reservatioPaymentForm" style="padding-left:7em">
            <div class="container">                
                @using (Html.BeginForm("UploadDocument", "Technical", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new {enctype = "multipart/form-data" ,@class = "form-horizontal", role = "form" }))
                {
                    <h2>Submit Technical Papers..</h2>
                    <hr />
                    <fieldset>
                        
                        <div>
                            <label>Paper Title*:</label>
                        </div>

                        <div>
                            <div>
                                @*<input class='required email' type="text" name="owner_email" id='owner_email' maxlength="64" value="" />*@
                                @Html.TextBoxFor(m => m.DocumentName)
                            </div>
                            <label>Author Name*:</label>
                        </div>

                        <div>
                            <div>
                                <input class='required phone' type="text" name="authorPhone" id='authorPhone' maxlength="50" value="" />
                            </div>
                            <label>Author Contact Email*:</label>
                        </div>

                        <div>
                            <div>
                                <input type="text" name="authorEmail" id='authorEmail' maxlength="64" value="" />
                            </div>
                            <label>Choose a Document:</label>
                        </div>  
                        <div>
                            <input type="file" name="technicalDocument" accept="pdf/*">
                            @*<form action="demo_form.asp">
                            <input type="submit" value="Upload"></form>*@
                        </div> <br/>                    
                    </fieldset>
                    <div class="span3" >
                        <input type="submit" value="Upload Document" class="btn btn-primary btn-block" />
                        @*<a class="btn btn-primary btn-block" style="font-weight:bold">Upload Document</a>*@                      

                    </div>
                }
            </div>
            <p style="padding-top:1em">
                @ViewBag.resultDocumentMessage
                @*<a style="padding-left:2em" target="_blank" href="@(ViewBag.resultDocumentMessage)">Document Link</a>*@
            </p>
            
        </section>
    </div>    
</div>


