﻿@model STS.P1.Planetarium.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>


    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h2>Enter your email..</h2>
        <hr />
        <div id="forgotForm" style="background:#f6f6f6">
            <br /><br />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>
            
            <div>
                <br />
                &nbsp; @Html.ActionLink("<< Back to Home", "Login")
            </div><br />
        </div><br/>
        
        }
   

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
