﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div id="forgotConfirmation">
    <br /><br />
    <h4>
        Please check your email to reset your password.
    </h4> <br/><br/>
    <div>
        <br />
        &nbsp; @Html.ActionLink("<< Back to Home", "Login")
    </div>
</div>

	
