﻿@using STS.P1.Planetarium.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Log in - STS Planetarium";
}
<body background="~/Content/Images/HomePageSatellite1.jpg">
    <div class="row" id="loginScreen" style="height:600px;">
        <div class="col-md-6" style="height:100px;">
            <div class="container">
                <h3>@ViewBag.</h3>
            </div>
        </div>
        <div class="col-md-6">
            <section id="loginForm">
                <div class="container">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <br/>
                        <br/>
                        <h4 style="color:white;">Use an Admin (or) Technical Member account to log in.</h4>
                        <hr /><br/>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { style = "color:white;", @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { style = "color:black;", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { style = "color:white;", @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { style = "color:white;", @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { style = "color:black;", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { style = "color:white;", @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <table>
                                        <tr>
                                            <td style="padding-bottom:1em">@Html.RadioButtonFor(m => m.Accounttype, "A", new { @checked = true })</td>
                                            <td style="padding-left:1em">@Html.LabelFor(m => m.Accounttype, "Admin Account", null)</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-bottom:1em">@Html.RadioButtonFor(m => m.Accounttype, "T")</td>
                                            <td style="padding-left:1em">@Html.LabelFor(m => m.Accounttype, "Technical Writer Account", null)</td>
                                        </tr>
                                    </table>

                                    @*<div>
                                        Admin: @Html.RadioButton("Login", "Admin")
                                        Technical Member: @Html.RadioButton("Login", "Technical Member")
                                    Html.CheckBoxFor(m => m.RememberMe)
                                        Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-10" style="padding-left:4.5em">
                                <input type="submit" value="Log in" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                        <p style="padding-left:9em;padding-top:1.5em;">
                            @Html.ActionLink("New user, Click here!", "Register", null, new { style = "color:alice;font-weight:bold" })
                            &nbsp;&nbsp;&nbsp;
                            @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { style = "color:alice;font-weight:bold" })
                        </p>
                    }
                </div>
            </section>
        </div>        
        @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
    </div>



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>