﻿@model STS.P1.Planetarium.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
    <div id="registerForm">
        <br/>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Accounttype, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Accounttype, STS.P1.Planetarium.Models.RegisterViewModel.AccountTypeItems(), "Select Account Type...")
            </div>
        </div><br />
        <div class="form-group">
            <div class="col-md-offset-1 col-md-4">
                <input type="submit" class="btn btn-primary btn-block" value="Register" />
            </div>
        </div>
        <div><br/>  
            &nbsp; @Html.ActionLink("<< Back to Home", "Login")
        </div><br/>
    </div>
    }

    <div>
        <h4>@ViewBag.userCreated</h4>
    </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
   